<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <title>On.Sight | Add New Gym</title>
    <style type="text/css"></style>
</head>

<body>
    <div class="container">
        <header>
            <h1>On.Sight</h1>
            <nav>
            </nav>
        </header>
        <main>
        <h2>Add Gym to Database</h2>
            <form action ="/gyms" method="POST">
                <input type="text" name="name" placeholder="Gym Name"/>
                <input type="text" name="address" placeholder="Address"/>
                <input type="text" name="quality_rating" placeholder="Star Rating"/>
                <input type="text" name="createdBy" placeholder="Your Name"/>
                <input type="submit" value="Add New Gym" />
            </form>
            <p>*add gym routes on gym details page</p>
            <hr/>
        </main>
        <footer>
            <a href="/gyms">Back to Gyms</a>
            <br />
            <a href="/">Home</a>
        </footer>
    </div>
</body>

</html>