<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <title>On.Sight | Add New Gym</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>On.Sight</h1>
            <nav>
            </nav>
        </header>
        <main>
            <h2>Add Gym to Database</h2>
            <form action="/gyms" method="POST">
                <label for="name">Name: </label>
                <input type="text" name="name" />
                <input type="submit" value="Add New Gym" />
            </form>
        </main>
        <footer>
            <a href="/gyms">Back to Gyms</a>
            <br />
            <a href="/">Home</a>
        </footer>
    </div>
</body>

</html>